#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#UBOOT_MAKE_ARGS := ARCH=arm CROSS_COMPILE=/usr/bin/arm-linux-gnueabi-
#UBOOT_MAKE_ARGS := ARCH=armel

override_dh_auto_build:
	$(MAKE) $(UBOOT_MAKE_ARGS) u8500_snowball_config
	$(MAKE) $(UBOOT_MAKE_ARGS)

%:
	dh $@ 

#UBOOT_MAKE_ARGS := ARCH=arm CROSS_COMPILE=/usr/bin/arm-linux-gnueabi-
#UBOOT_MAKE_ARGS := ARCH=armel

# build:
# 	$(MAKE) $(UBOOT_MAKE_ARGS) u8500_snowball_config
# 	dpkg-gencontrol
# 	$(MAKE) $(UBOOT_MAKE_ARGS)

# binary:
# 	$(MAKE) $(UBOOT_MAKE_ARGS) u8500_snowball_config
# 	$(MAKE) $(UBOOT_MAKE_ARGS)

# binary-arch:
# 	$(MAKE) $(UBOOT_MAKE_ARGS) u8500_snowball_config
# 	$(MAKE) $(UBOOT_MAKE_ARGS)

# clean:
# 	$(MAKE) $(UBOOT_MAKE_ARGS) clean
